
.block {
    height: 200px;
    width: 400px;
    background: rgba(31, 109, 157, 1);
}

/* Linear Gradient */

.linear-gradient {
    height: 300px;
    width: 700px;
    /* background-image: radial-gradient(green 20%, red 10%); */
    background-image: conic-gradient(at 70% 50%,green , blue);
}

/* text-shadows */

h1 {
    text-shadow: 5px 7px 5px green, -5px -7px 5px green;
}

/* box-shadow */

.box-shadow {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.24), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}